.annotated {
  position: relative;
  overflow: hidden;
}
.annotated .wrapper {
  position: absolute;
  width: 100%;
}
.annotated .wrapper img,
.annotated .wrapper video {
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.annotated .wrapper svg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.annotated .wrapper svg circle {
  cursor: pointer;
  opacity: 0.0001;
  -webkit-transform: translateZ(0);
}
.annotated .caption {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 0;
  left: 0;
  color: #cccccc;
  z-index: 2;
}
.annotated .caption .content {
  float: left;
}
.annotated .caption .content.left {
  float: right;
}
.annotated svg.hotspot {
  width: 2em;
  height: 2em;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
}
.annotated svg.hotspot .enabler {
  fill: #000;
  stroke: #ccc;
  stroke-width: 0.3;
  cursor: pointer;
}
.annotated svg.hotspot .icon {
  fill: #ccc;
  -webkit-transform: scale(0.05) translate(2.3em, 4.2em) rotate(-20deg);
  -khtml-transform: scale(0.05) translate(2.3em, 4.2em) rotate(-20deg);
  -moz-transform: scale(0.05) translate(2.3em, 4.2em) rotate(-20deg);
  transform: scale(0.05) translate(2.3em, 4.2em) rotate(-20deg);
}
.annotated .hotspots,
.annotated .caption {
  -webkit-transition: opacity 0.4s;
  -khtml-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.annotated ul[data-annotated-hotspots] {
  display: none;
}
/*html.touch .annotated .hotspots {
  transition: none;
}
*/
